<hr/>
<div class="panel panel-info">
    <div class="panel-heading">
        Reactive Form
    </div>
    <div class="panel-body">
        <form class="form-horizontal" [formGroup]="employeeForm">
            <div class="form-group" [ngClass]="{'has-error':(employeeForm.get('firstName').touched ||
                                                        employeeForm.get('firstName').dirty)&&
                                                        !employeeForm.get('firstName').valid}">
                <label class="col-md-2 control-label" for="fname">
                    FirstName
                </label>
                <div class="col-md-8">
                    <input class="form-control" type="text"
                    id="fname"
                    placeholder="enter first name"
                    formControlName="firstName"/>
                    <div class="help-block" *ngIf="(employeeForm.get('firstName').touched ||
                                                  (employeeForm.get('firstName').dirty)&&
                                                  employeeForm.get('firstName').errors)">

                        <span *ngIf="employeeForm.get('firstName').errors.required">
                            Please Enter FirstName
                        </span>
                        <span *ngIf="employeeForm.get('firstName').errors.minlength">
                            Min Length is 3
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>