<div class="row">
    <div id="mainListing">
        <div id="filter">
            <h3>Filters</h3>
            <hr/>
            <div class="mealFilter">
              
            </div>

        </div>
        <div id="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input class="form-control" placeholder="Enter Restaurant Name"
                        />
                    </div>
                    <p> Results for <b></b></p>
                    <p>Number of results:</p>
                </div>
            </div>
            <div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-5">
                            <img class="Image"
                            alt='alt'/>
                        </div>
                        <div class="col-md-7">
                            <div class="hotel_name">
                                <a >
                                
                                </a>
                                <div class="city_name"></div>
                                <div class="city_name"></div>
                                <div class="city_name"></div>
                                <div class="labelDiv">
                                    <span class="label label-primary">
                                    
                                    </span> &nbsp;
                                    <span class="label label-success">
                                        
                                    </span>
                                </div>
                                <div class="labelDiv">
                                    <span class="label label-danger">
                                       
                                    </span> &nbsp;
                                    <span class="label label-info">
                                        
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>